.layout {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

#Users {
  --bg-color: antiquewhite;
}

#Pixels {
  --bg-color: pink;
}

form {
  padding: 1rem;
  background-color: var(--bg-color);
}

input {
  min-width: 200px;
}

.top-bar {
  background-color: cornsilk;
}
